<header class="mb--5 header">
  <article class="container pt--2 pb--2 align-items--center justify-content--space-between d--flex">  
    <h1 class="mb--0 mt--0">
      <a href="#" class="text--white">
        Stimulus Snippets
      </a>
    </h1>
    <input list="snippets" id="snippetsInput" class="form__control" name="snippetsList" placeholder="Jump to ..." />
    <datalist id="snippets">
      <option value="Welcome" data-id="welcome">
      <option value="Count length of value" data-id="countLengthOfValue">
      <option value="Dialog" data-id="dialog">
      <option value="Toaster" data-id="toaster">
      <option value="Validation" data-id="validation">
      <option value="Avatar" data-id="avatar">
      <option value="Dropdown" data-id="dropdown">
    </datalist>
  </article>
</header>