<aside class="sidebar">
  <h3>
    Snippets
  </h3>
  <nav class="nav">
    <li class="mb--1">
      <a href="#welcome" class="nav__link">
        Welcome
      </a>
    </li>
    <li class="mb--1">
      <a href="#countLengthOfValue" class="nav__link">
        Count length of value
      </a>
    </li>
    <li class="mb--1">
      <a href="#dialog" class="nav__link">
        Dialog
      </a>
    </li>
    <li class="mb--1">
      <a href="#toaster" class="nav__link">
        Toaster
      </a>
    </li>
  </nav>
</aside>